.ife_sideMain
	.ife_sideUserInfo
		.ife_sideUserInfoBg
			.ife_sideUserAvatar
				a(href="/home/detail/#{userid}/92a2b5cb9c6906035c2864fa225e1940")
					img(src="#{avatar}",width="60",height="60")
			h2 #{username}
			ul.clearfix
				li.pull-left
					a(href="/home/detail/#{userid}/a5df375d7c972248177e8b4407c8808c")
						strong#J_starsCount #{stars}
						span 关注
				li.pull-left
					a(href="/home/detail/#{userid}/1ed1645edd706dc379effe13f3edcacf") 
						strong #{fans}
						span 粉丝
				li.pull-left
					a(href="/home/detail/#{userid}/92a2b5cb9c6906035c2864fa225e1940")
						strong#J_currentUserArticleNum #{currentUserArticleNum ? currentUserArticleNum : 0}
						span 文章
	.ife_sideNewestUser
		h2 最新注册用户
		ul
			//- 这里要作一个限制，用户只能看到前6条，其他的当用户关注之后，才可以显示出来
			- var count = 0;
			each reguser in latestreguserlink
				if count < 6
					- count++;
					li.empty
					li.userInfo.J_sideLiUserCount
						p.pull-left.p_img
							a(href="/home/detail/#{reguser._id}/92a2b5cb9c6906035c2864fa225e1940")
								img(src=reguser['avatar'],width="30",height="30")
						p.pull-left.p_userinfo
							strong	#{reguser['username']}
							span #{moment(reguser['createTime']).fromNow()}注册
						p.pull-left.p_followBtn.J_sideBodyFollowBtn(data-userid="#{reguser['_id']}")
							a(href="javascript:void(0);")
								span +
								span &nbsp;关注
				else
					li.empty.J_sideLiEmptyhidden
					li.userInfo.J_sideLiUserInfoHidden
						p.pull-left.p_img
							a(href="/home/detail/#{reguser._id}/92a2b5cb9c6906035c2864fa225e1940")
								img(src=reguser['avatar'],width="30",height="30")
						p.pull-left.p_userinfo
							strong	#{reguser['username']}
							span #{moment(reguser['createTime']).fromNow()}注册
						p.pull-left.p_followBtn.J_sideBodyFollowBtn(data-userid="#{reguser['_id']}")
							a(href="javascript:void(0);")
								span +
								span &nbsp;关注
			li.empty
		if latestreguserlink.length > 6
			.findMoreUser
				a.J_lookMoreLatestRegUser(href="javascript:void(0);") 查看更多&nbsp;>
		else if latestreguserlink.length == 0
			.findMoreUser
				a(href="javascript:void(0);") 没有最新注册的用户
		else
			.findMoreUser(style="display:none;")
				a(href="javascript:void(0);") 没有最新注册的用户